<!DOCTYPE html>
<div class="row">
    <div class="twelve columns">

        <table>
            <thead><tr><th>User</th><th>Name</th><th>Duration</th><th>Result</th><th>Risposta</th><th>Progress</th><th>Date</th></tr></thead>
            <tbody>
                {% for task in longTasks %}
                    <tr>
                         <td>{{ task.user }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.duration }}</td>
                        <td >{{ task.result }}</td>
                        <td >{{ task.callreply }}</td>
                        <td >{{ task.progress }}</td>
                        <td>{{ task.created_on|date:"d/m/Y H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>